{% extends 'admin/base.html.twig' %}

{% block title %}Posts administration{% endblock %}

{% block body %}
    <div class="container-fluid">
        {{ form_start(form) }}
        <div class="row mb-2">
            <div class="col-lg-6 col-md-12">
                {{ form_widget(form.searchType, {'attr': {'class': 'w-25 float-left'}}) }}
                {{ form_widget(form.typePost, {'attr': {'class': 'w-25 float-left'}}) }}
                {{ form_widget(form.search, {'attr': {'class': 'w-50 float-right'}}) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Search &nbsp; <i class="fas fa-search"></i></button>
        {{ form_end(form) }}
        <hr class="bg-secondary">
        <h2 class="text-center">Posts</h2>
        <hr class="bg-secondary">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th>Title</th>
                    <th class="text-center">Creation date</th>
                    <th>Writer</th>
                    <th class="text-center">NB MSG</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Activated</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for post in pagination.data %}
                    <tr>
                        <td class="text-center align-middle">{{ post.id }}</td>
                        <td class="align-middle">{{ post.title }}</td>
                        <td class="text-center align-middle">{{ post.createdAt | date("d/m/Y G:m:s") }}</td>
                        <td class="align-middle"><img src="/img/avatars/{{ post.writer.image }}" alt="" class="avatar avatar-micro mr-2">{{ post.writer.pseudo }}</td>
                        <td class="text-center align-middle">{{ post.responses | length }}</td>
                        <td class="text-center align-middle"><i class="fas {{ post.postlabel }}"></i></td>
                        <td class="text-center align-middle">
                            {% if post.isActive %}
                                <i class="fas fa-check colored"></i>
                            {% else %}
                                <i class="fas fa-times colored"></i>
                            {% endif %}
                        </td>
                        <td class="text-center align-middle">
                            <a href="{{ path('admin_posts_edit', { 'id': post.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            {% if post.isActive %}
                                <a href="{{ path('admin_posts_delete', { 'id': post.id }) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            {% else %}
                                <a href="{{ path('admin_posts_activate', { 'id': post.id }) }}" class="btn btn-success"><i class="fas fa-redo"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}
    </div>
{% endblock %}
