<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('game') }}">Pixel Souls</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('game') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fighters_index') }}">Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('post_index') }}">Forum</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if app.user %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropDownLink">
                    <img src="/img/avatars/{{ app.user.image }}" class="avatar avatar-mini mr-2" alt="Avatar de {{ app.user.fullName }}">
                    {{ app.user.pseudo }}
                </a>
                <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="accountDropDownLink">
                    <a href="{{ path('account_index') }}" class="dropdown-item">My account</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('account_profile') }}" class="dropdown-item">Edit profile</a>
                    <a href="{{ path('account_password') }}" class="dropdown-item">Edit password</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('account_logout') }}" class="dropdown-item">Logout</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="{{ path('account_login') }}" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('account_register') }}" class="nav-link">Register</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }} text-center">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}