{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <div class="container">
        <hr class="bg-secondary">
        <h2 class="text-center">Forum</h2>
        <hr class="bg-secondary">
        <table class="table table-striped table-sm d-none d-lg-table">
            <thead class="thead-dark">
                <tr>
                    <th>Subject</th>
                    <th>Author</th>
                    <th>Date</th>
                    <th>NB</th>
                    <th>Last message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for post in pagination.data %}
                    <tr>
                        <td>
                            <i class="fas {{ post.postLabel }}"></i>
                            <span>&nbsp;</span>
                            <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a>
                        </td>
                        <td><a href="{{ path('user_show', {'id': post.writer.id}) }}">{{ post.writer.pseudo }}</a></td>
                        <td>{{ post.createdAt | date("d/m/Y G:i:s") }}</td>
                        <td>{{ post.responses | length }}</td>
                        <td>{{ post.lastMessageTime.createdAt | date("d/m/Y G:i:s") }}</td>
                        <td>
                            {% if post.writer is same as(app.user) %}
                                <a href="{{ path('post_delete', {'id': post.id}) }}"><i class="fas fa-times"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-striped d-lg-none">
            <thead class="thead-dark">
                <tr>
                    <th>Subject</th>
                </tr>
            </thead>
            <tbody>
                {% for post in pagination.data %}
                    <tr>
                        <td>
                            <p class="my-0">
                                {% if post.writer is same as(app.user) %}
                                    <a href="{{ path('post_delete', {'id': post.id}) }}" class="float-right"><i class="fas fa-times"></i></a>
                                {% endif %}
                                <i class="fas {{ post.postLabel }}"></i>
                                <span>&nbsp;</span>
                                <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a>
                            </p>
                            <p class="mb-0 mt-1">
                                <strong>{{ post.writer.pseudo }}</strong>
                                <span class="float-right">{{ post.lastMessageTime.createdAt | date("d/m/Y G:i:s") }}</span>
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}
        <div class="row">
            <div class="col-6">
                <hr class="bg-secondary">
                <h2 class="text-center">Write a post</h2>
                <hr class="bg-secondary">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-12">
                        {{ form_errors(form.title) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(form.title) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(form.type) }}
                    </div>
                </div>
                <br>
                {{ form_errors(form.firstMessage) }}
                {{ form_widget(form.firstMessage) }}
                <br>
                <button type="submit" class="btn btn-success">Send &nbsp; <i class="fas fa-check"></i></button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
