{% extends 'base.html.twig' %}

{% block title %}List of characters{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row mb-2">
            <div class="col-lg-6 col-md-12">
                {{ form_widget(form.searchType, {'attr': {'class': 'w-25 float-left'}}) }}
                {{ form_widget(form.search, {'attr': {'class': 'w-75 float-right'}}) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Search &nbsp; <i class="fas fa-search"></i></button>
        {{ form_end(form) }}
        <div class="row">
            {% for fighter in pagination.data %}
                {% set class = "col-lg-3 col-md-4 col-sm-6" %}
                {% include "fighter/_fighter.html.twig" %}
            {% endfor %}
        </div>
        {{ pagination.display() }}
    </div>
{% endblock %}
